In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data

### Answer with the type of test you would use (assume normal distribution):

- Is there a difference in grades of students on the second floor compared to grades of all students?

In [ ]:
# One sample t-test
# two-tailed (non directional)

- Are adults who drink milk taller than adults who dont drink milk?

In [ ]:
# Independent t-test (or 2-sample)
# one-tailed (directional)

- Is the the price of gas higher in texas or in new mexico?

In [ ]:
# Independent t-test (or 2-sample)
# one-tailed (directional)

- Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

In [ ]:
# ANOVA
# two-tailed (non directional)

### Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

H$_O$ : Mean of time it takes to sell homes at office 1 = Mean of time it takes to sell homes at office 2

H$_a$ : Mean of time it takes to sell homes at office 1 != Mean of time it takes to sell homes at office 2

In [74]:
ﾎｱ = 0.05

In [3]:
ﾎｼ_one = 90
ﾏダone = 15

ﾎｼ_two = 100
ﾏダtwo = 20

In [52]:
office_one_sales = np.random.normal(ﾎｼ_one, ﾏダone, size = 40)

In [53]:
office_two_sales = np.random.normal(ﾎｼ_two, ﾏダtwo, size = 50)

In [63]:
stat, p_levene = stats.levene(office_one_sales, office_two_sales)

In [64]:
p_levene < ﾎｱ

False

In [57]:
t_stat, p_val = stats.ttest_ind_from_stats(
    ﾎｼ_one,
    ﾏダone,
    40,
    ﾎｼ_two,
    ﾏダtwo,
    50)

In [58]:
t_stat

-2.6252287036468456

In [59]:
p_val

0.01020985244923939

In [60]:
p_val < ﾎｱ

True

 I can reject my null hypothesis because p_val is less than alpha.

### Load the mpg dataset and use it to answer the following questions:

In [18]:
mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

- Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [19]:
#create a new column displaying avg fuel efficiency
mpg['avg_eff'] = (mpg.cty + mpg.hwy) / 2
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_eff
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0

In [ ]:
#My two groups of comparision: 
# - fuel efficiency of 1999 cars
# - fuel efficiency of 2008 cars

In [22]:
#Determine samples

older_cars_eff = mpg[mpg.year == 1999].avg_eff

newer_cars_eff = mpg[mpg.year == 2008].avg_eff

H$_0$: 1999 cars efficiency = to the efficiency of 2008 cars

H$_a$: 1999 cars have a difference in efficiency than 2008 cars

In [65]:
stat, p_val = stats.levene(older_cars_eff, newer_cars_eff)

In [66]:
p_val < ﾎｱ

False

In [24]:
t_stat, p_val = stats.ttest_ind(older_cars_eff, newer_cars_eff, equal_var=False)
t_stat, p_val

(0.21960177245940962, 0.8263750772060638)

In [68]:
print("is p_val < alpha? ", p_val < ﾎｱ)

is p_val < alpha?  False

I cannot reject my null hypothesis.

- Are compact cars more fuel-efficient than the average car?

In [ ]:
#My two groups of comparision: 
# - fuel efficiency compact cars
# - fuel efficiency of the avg car

In [35]:
#Determine samples

comp_cars_eff = mpg[mpg['class'] == 'compact'].avg_eff

ﾎｼth = mpg.avg_eff.mean()

H$_0$: compact cars are as efficient as the avg car

H$_a$: compact cars are more efficient than the avg car

In [70]:
t_stat, p_val = stats.ttest_1samp(comp_cars_eff, ﾎｼth)

In [71]:
t_stat

7.896888573132533

In [76]:
p_val

4.1985637943171486e-10

In [82]:
p_val / 2

2.0992818971585743e-10

For a 1-tailed test where our alternative hypothesis is testing for "greater than", we evaluate 搗/2 < 撥ｼ and 搗｡ > 0.
Therefore we can reject the hypothesis becuase p_val/2 is > the alpha of .05,  and t_stat > 0

- Do manual cars get better gas mileage than automatic cars?

In [ ]:
# groups for testing:
# - manual trans cars
# - auto trans cars

#two sample because there are two explicit subcategories of vehicles
#one tailed because we are aplying directionality to our diffence: >

H$_0$: manual car efficiency <= auto car efficiency

H$_a$: manual car efficiency > auto car efficiency

In [44]:
# create new column with boolean values for auto or manual transmission
mpg['auto_trans'] = mpg.trans.str.startswith('auto')

In [46]:
#determine samples
auto_eff = mpg[mpg['auto_trans'] == True].avg_eff

manual_eff = mpg[mpg['auto_trans'] == False].avg_eff

In [47]:
#check varience
print(auto_eff.var())
print(manual_eff.var())

21.942777233382337
26.635167464114826

In [83]:
t_stat, p_val = stats.ttest_ind(manual_eff, auto_eff, equal_var=False)
t_stat, p_val

(4.443514012903072, 1.7952248999917893e-05)

In [85]:
print("is p_val/2 < alpha? ", (1.795 / 2) < ﾎｱ)
print("is t_stat > 0? ", t_stat > 0)

is p_val/2 < alpha?  False
is t_stat > 0?  True

For a 1-tailed test where our alternative hypothesis is testing for "greater than", we evaluate 搗/2 < 撥ｼ and 搗｡ > 0. Therefore we can reject the Null hypothesis becuase p_val/2 is not < the alpha of .05, and t_stat > 0